# Project exclude paths
/cmake-build-debug/
out/
.vs
.idea
/Assets/compiler
/compiler
/Assets/Tools/Classes.txt
experimental_features
/build
/Assets/Tools/windows/mycert.pfx
/Assets/Tools/windows/CreateCARoot.cmd
/Assets/Tools/windows/cert.pfx
/src/Scripts/Private/ScriptHeader.h
