Package: com.carnegierobotics.multisense
Name: MultiSense Viewer
Description: An example package.
 This longer description will load when a depiction URL is not specified.
Author: Mr. Magnus mgjerde@carnegierobotics.com
Maintainer: Carnegie Robotics LLC mgjerde@carnegierobotics.com
Version: 1.0-0
Homepage: https://github.com/M-Gjerde/MultiSense
Website: https://github.com/M-Gjerde/MultiSense
Architecture: amd64









